<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="iWebServiceCapturePointHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://DRCCGNCRUATAP2V:7005/Genesys/Interaction/Cisco_WSCP/WebServiceCapturePoint"
        binding="basicHttpBinding" bindingConfiguration="iWebServiceCapturePointHttpBinding"
        contract="ServiceReference5.iWebServiceCapturePoint" name="iWebServiceCapturePointHttpBinding" />
    </client>
  </system.serviceModel>
</configuration>
